.git*
docs/
examples/
support/
test/
out/
chanarchive/
test.js
testing.js
.travis.yml
.DS_Store
coverage.html
lib-cov

temp/
src/
.jshintrc
Gruntfile.js

# folders that can be created during testing
4chan/
7chan/
8chan/
420chan/
